/unity_Substance.CSharp.csproj
/unity_Substance.sln
/unity_Substance.v12.suo
/Library
/Temp
/Unity_Standard_Shader_Simplify.CSharp.csproj
/Unity_Standard_Shader_Simplify.sln
/Unity_Standard_Shader_Simplify.v12.suo
